@import url('https://fonts.cdnfonts.com/css/samsungone');

@font-face {
    font-family: 'MiFuentePropia';
    src: url('{{ asset("fonts/helvetica-black.ttf") }}') format('ttf');
}

body {
    font-family: 'SamsungOne', sans-serif;
    font-size: 17px;
}
